<div class="dashboard row justify-content-around">
    <div class="card col-md-2" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">0</h5>
          <h6 class="card-subtitle mb-2 text-muted">Customers</h6>
        </div>
      </div>
      <div class="card col-md-2" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">0</h5>
          <h6 class="card-subtitle mb-2 text-muted">Estimates</h6>
        </div>
      </div>
      <div class="card col-md-2" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">0</h5>
          <h6 class="card-subtitle mb-2 text-muted">In progress Estimates</h6>
        </div>
      </div>
      <div class="card col-md-2" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">0</h5>
          <h6 class="card-subtitle mb-2 text-muted">Approved Estimates</h6>
        </div>
      </div>
</div>
