<div class="dashboard row justify-content-around">
    
    <div class="card col-md-2" style="width: 10rem;height: 7em;border-radius: 180px !important;">
        <div style="padding: 2em;" class="card-body" >
          <h5 class="card-title text-center">0</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">customers</h6>
        </div>
      </div>
      <div class="card col-md-2" style="width: 10rem;height: 7em;border-radius: 180px !important;">
        <div style="padding: 2em;" class="card-body" >
          <h5 class="card-title text-center">0</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">estimates</h6>
        </div>
      </div>
      <div class="card col-md-2" style="width: 10rem;height: 7em;border-radius: 180px !important;">
        <div style="padding: 2em;" class="card-body" >
          <h5 class="card-title text-center">0</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">pending </h6>
        </div>
      </div>
      <div class="card col-md-2" style="width: 10rem;height: 7em;border-radius: 180px !important;">
        <div style="padding: 2em;" class="card-body" >
          <h5 class="card-title text-center">0</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">approved </h6>
        </div>
      </div>
</div>
