<div class="container">
  <h2><small class="text-muted">Confirm Estimate</small></h2>
    <p>Please review the information below to ensure that the correct subject and visit are selected.</p>
    <br>
  <div id="div_one">
    
    <p><b>Customer</b> </p>
    <br>
    <div class="row">
      <div class="col-md-8">
    <p>First Name</p>
    <h6>{{customer.firstName}}</h6>
  </div>
  <div class="col-md-4">
    <p>First Name</p>
    <h6>{{customer.lastName}}</h6>
  </div>
  </div>
  <br>
  <div class="row">
  <div  class="col-md-8">
    <p>Address</p>
    <h6>{{customer.address.streetAddress}}</h6>
  </div>
  <div  class="col-md-3">
    <p>City</p>
    <h6>{{customer.address.city}}</h6>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8">
    <p>State</p>
    <h6>{{customer.address.state}}</h6>
  </div>
  <div  class="col-md-3">
    <p>Zipcode</p>
    <h6>{{customer.address.zipcode}}</h6>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8">
    <p>Phone</p>
    <h6>{{customer.phone}}</h6>
  </div>
  <div class="col-md-3">
    <p>Email</p>
    <h6>{{customer.email}}</h6>
  </div>
</div>
  
    <br>
  
  </div>
  <div id="div_two">
     
    <p><b>Work</b> </p>
    <br>
    <div class="row">
      <div class="col-md-6">
    <p>Type</p>
    <h6 >{{work.workType}}</h6>
  </div>
 
  </div>
  <br>
  <div class="row">
    <div  class="col-md-2">
      <p>Condition</p>
      <h6>5</h6>
    </div>
    <div  class="col-md-2">
      <p>Difficulty</p>
      <h6>3</h6>
    </div>
    <div  class="col-md-2">
      <p>Hours</p>
      <h6>40+</h6>
    </div>
  
  
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <p>Description</p>
    <h6>{{work.workDescription}}</h6>
  </div>
</div>
<br>
<br>

  
    <br>
  </div>
</div>
<br>
<br>
<button style="margin-left: 3px;background-color: #5cb85c; border: none;" class="btn btn-primary float-right" (click)="saveEstimate()" type="submit">Continue </button>
<br>
<div style="margin-top: 10em !important;">
<div class="">
  <h3 class="title" ><small class="text-muted">
    </small></h3>
    <br>
</div>
</div>