
<div class="container"><ul class="list-group">
    <h4 class="text-center">Review estimate</h4>
    <br>
    <li style="background: rgb(235, 241, 243); color: black;" class="list-group-item active" aria-current="true">Estimate Information</li>
    <li class="list-group-item">First Name: </li>
    <li class="list-group-item">Last Name: </li>
    <li class="list-group-item">Address: </li>
    <li class="list-group-item">City: </li>
    <li class="list-group-item">Zipcode: </li>
    <li class="list-group-item">Phone: </li>
    <li class="list-group-item">Email: </li>
    <li class="list-group-item">Customer Notes: </li>
  </ul>
  <hr>
  <ul class="list-group">
    <li style="background: rgb(235, 241, 243); color: black;" class="list-group-item active" aria-current="true">Work Information </li>
    <li class="list-group-item">Work Type: </li>
    <li class="list-group-item">Difficulty: </li>
    <li class="list-group-item">Condition: </li>
    <li class="list-group-item">Description: </li>
    <li class="list-group-item">Tasks: </li>
    <li class="list-group-item">Materials: </li>
    <li class="list-group-item">Pictures: </li>
  </ul>
  <br>
 
  <button class="btn btn-outline-success float-right">Save</button>
  <br>
  <br>
</div>
