<div class="container">
    <form class="row g-3 needs-validation customer" novalidate>
        <div class="col-md-3" style="padding-bottom: 3em;">
          <label for="validationCustom01" class="form-label">Work Type</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Difficulty</label>
          <input type="range" class="form-control" id="validationCustom02" value="Otto" required>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Condition</label>
          <input type="range" class="form-control" id="validationCustom02" value="Otto" required>
        </div>
        
        
        <div style="padding-bottom: 2em;" class="col-md-12">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        
        <br>
        <br>
        <div class="container">
          <br>
          <h2 style="margin-left: 15px;"><small class="text-muted">Add Task</small></h2>
          <div style="padding-bottom: 1em;" class="input-group col-md-3">
            <input type="text" class="form-control" placeholder="Task Name" aria-label="Recipient's username" aria-describedby="button-addon2">
            
          </div>
          <div class="input-group col-md-6">
            <input sty type="text" class="form-control" placeholder="Task Description" aria-label="Recipient's username" aria-describedby="button-addon2"><button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            
          </div>
        
          <br>
          <h4 class="title" ><small class="text-muted">
              </small></h4>
              <br>
              <br>
      <table class="table tablecust">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Description</th>
              <th scope="col">Priority</th>
              <th scope="col"></th>
         
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>2</td>
              <td><button class="btn btn-outline-danger">Delete</button>></td>
            
             
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>4</td>
              <td><button class="btn btn-outline-danger">Delete</button></td>
          
              
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>1</td>
              <td><button class="btn btn-outline-danger">Delete</button></td>
        
             
            </tr>
          </tbody>
        </table>
        
      </div>
      
      
     
       
       
       
        
       
       
        
        <div class="col-12">
            
          <button style="margin-left: 3px;background-color: #5cb85c;" class="btn btn-primary float-right" type="submit"><a style="text-decoration: none;color: white;"routerLink="additional-info">Continue</a>  </button>
          <button style="background-color: white;color: black; min-width: 5em;" class="btn btn-primary float-right" type="submit"><a style="text-decoration: none;"routerLink="../">Back</a>  </button>
        </div>
      </form>
    </div>
    
