
<br>
<h3 class="title" ><small class="text-muted">
    Estimates</small></h3>
<div style="margin-top: 2em; width: 100%; margin-bottom: 18em; margin-left: 1%;">
<ngx-charts-bar-horizontal 
    [view]="[1000,400]"
    [results]="saleData"
    [xAxisLabel]=""
    [legendTitle]="'Product Sale Chart'"
    [yAxisLabel]="'Amount'"
    
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [scheme] ="'aqua'"
    [gradient]="true">
</ngx-charts-bar-horizontal>
<br>
<br>
</div>
<br>
<br>
<br>
<br>

    
