<div class="container">
    <button style="margin-right: 2em; background-color: cornflowerblue;" class="btn btn-success float-right">Add estimate</button>
    <h3 class="title" ><small class="text-muted">
         Estimates</small></h3>
         <br>
<div class="tableback">
  <input type="text" class="form-control" placeholder="Search estimates" aria-label="Username" aria-describedby="addon-wrapping">
<table class="table tableestimates">
    <thead class="thead">
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Estimate Type</th>
        <th scope="col">Estimate Progress</th>
        <th scope="col">Estimate Total</th>
        <th scope="col">Customer messaged</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><span style="margin-left: 4em;">&check;</span></td>
        <td><button style="background-color: #9064ed;" class="btn btn-success">Edit/View</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><span style="margin-left: 4em;">&check;</span></td>
        <td><button style="background-color: #64edbd;" class="btn btn-success">Edit/View</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td></td>
        <td><button style="background-color: #ed9d64;" class="btn btn-success">Edit/View</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
