<!-- Multi step form --> 
<section class="multi_step_form">  
    <form id="msform"> 
      <!-- Tittle -->
      <div class="tittle">

      </div>
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active poop">Customer Info</li>  
        <li [ngClass]="{'active' : estimateService.getCount() > 0}">Work Summary</li> 
        <li [ngClass]="{'active' : estimateService.getCount() > 1}">Materials</li>
        <li [ngClass]="{'active' : estimateService.getCount() > 2}">Pictures</li>
        <li [ngClass]="{'active' : estimateService.getCount() > 3}">Summary</li>
      </ul>
      <!-- fieldsets -->
     
        
        
       
    </form>  
  </section> 
  <!-- End Multi step form -->   